*{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 
}

body{
  margin: 0;
  padding: 0;
}
.app{
  background-color: #343541;

}

.sidebar{
  background-color: #202123;
  height: 100vh;
  width: 244px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

 

}

button {
  border-radius: 5px;
  border: 0.5px solid #626368;
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  font-weight: 300;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #1e1f1f;
  
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

nav{
  margin: 0 5px;
  border-top: 0.5px solid #626368;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .main{
  height: 100vh;
  width: 100%;

} */